{% load static %}
<html>
  <head>
    <title>FSHD blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
      rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet"s>
  </head>
  <body>
    <div>
      <header>
        <div class="nav-left">
          <!--<img src= "img/FSHD-Header-Logo.jpeg" alt="FSHD Society" />-->
          <h1><a href="{% url 'home' %}">FSHD blog</a></h1><br></br>
        </div>
        <div class="nav-right">
          <a href="{% url 'post_new' %}">+ New Blog Post</a>
        </div>
      </header>
      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
      {% endif %}
    {% block content %}
    {% endblock content %}
    </div>
  </body>
</html>
<div class="content">
  <h3 class="p"> <font size="+4">Facioscapulohumeral Muscular Dystrophy (FSHD)</a></h3></div></font>
  <h4 class="p"><font size="+2">What is Facioscapulohumeral Muscular Dystrophy (FSHD)</a></h4></font>
  <p>Facioscapulohumeral muscular dystrophy (FSHD) is a rare genetic muscle disease that affects the muscles of your child's face, shoulders, upper arms, and lower legs. These muscles weaken and shrink (atrophy). Symptoms usually appear before 20 years of age.</p>
  <p>
  <blockquote cite="https://www.fshdsociety.org/what-is-fshd/fshd-symptoms/">
    "Facioscapulohumeral muscular dystrophy is classified as a neuromuscular disease (NMD), as are all types of muscular dystrophy. Muscular dystrophies are marked by progressive skeletal muscle weakness, defects in the physical components of muscle, and the degeneration of muscle cells and tissue. FSHD affects both males and females, with symptoms most often first getting noticeable during adolescence and early adulthood. Around 5% develop symptoms before age 10, while there are also seniors whose symptoms are so mild that they don’t realize they have FSHD.
    <br></br>FSHD gets its name because the muscle loss is usually noticeable across facial (facio), back (scapula), and upper arm (humeral) muscles, but other areas, such as the abdominal core, hip girdle, and legs are also commonly affected. Muscle weakness typically sets in asymmetrically, affecting only one arm or one leg, for example. Symptoms may appear years before a formal diagnosis by a doctor. These can (but don’t always) include:</br></blockquote>
  <blockquote cite="https://www.fshdsociety.org/what-is-fshd/fshd-symptoms/">
  </p>  
  <br>
  <table>
     <tbody>
      <tr>
        <td>Inability to whistle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>Inability to sip through a straw</td>
    </tr>
    <tr>
      <td>Eyes that don’t close fully during sleep&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>Difficulty with sit-ups and pull-ups</td>
    </tr>
    <tr>
      <td>Shoulder blades that “wing” out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>Difficulty raising arm above shoulder height</td>
    </tr>
    <tr>
      <td>Weakness in hands and fingers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>Foot drop (foot dorsiflexion weakness)</td>
    </tr>
    <tr>
      <td>Weak lower abdominal muscles, “pregnant” belly&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>Loss of chest (pectoral) muscles)</td>
    </tr>
    <tr>
      <td>Sunken breastbone (pectus excavatum&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>Curved spine (lordosis, kyphosis, scoliosis)</td>
    </tr>
    <tr>
      <td>Chronic fatigue&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>Pain, often severe (reported in 70% of patients</td>
    </tr>
    </tfoot>
  </table
  </blockquote>
  
  <br>
  </br>
  <p>I'll be giving a brief history of what my involvment with FSHD has been and why the FSHD Society means so much to me. I'll also be citing external sources since the science is above my pay-grade. </p>
  </body>
  </html>
  <footer>
   <p><b><big>This is a work in progress</b></p></big>
   <p>All comments are cited from <a href="https://www.fshdsociety.org/">Facioscapulohumeral Muscular Dystrophy - FSHD Society</p>
  </footer>